<div class="container">
    <header>
        <img src="./../../../assets/img/littleHeader.png">
    </header>
    <div class="container-general">
        <div id="mensaje">
            <h1>Ha finalizado tu <br>
                prueba gratis!</h1>
            <h2>Suscribete para continuar</h2>
            <span>&#9660;</span>
        </div>
        <button class="sub" id="pro" (click)="EleccionSub('Pro')" [routerLink]="['/home']" routerLinkActive="router-link-active">
            <h1>Suscripción Pro <img src="./../../../assets/img/star.png"></h1>
            <p>- Sin límites de conversión</p>
        </button>
        <button class="sub" id="trial" (click)="EleccionSub('Trial')" [routerLink]="['/home']" routerLinkActive="router-link-active">
            <h1>Suscripción Trial <img src="./../../../assets/img/star.png"></h1>
            <p>- 100 Conversiones</p>
        </button>
    </div>
    <footer>
        <img src="./../../../assets/img/littleFooter.png">
    </footer>
</div>