<div class="container">
    <div class="container-general">
        <div class="categoria">
            <div class="titulo">
                <h1>Por Defecto</h1>
            </div>
            <div class="container-monedas">
                <div *ngFor="let monedadefault of MonedasDefault" class="moneda">
                    <app-card-coin [moneda]="monedadefault" (click)="dialogAddFav.showModal()"></app-card-coin>
                    <dialog class="dialogchico" #dialogAddFav>
                        <app-add-fav [moneda]="monedadefault" (cerrar)="dialogAddFav.close()"></app-add-fav>
                    </dialog>
                </div>
            </div>
        </div>
        <div class="categoria">
            <div class="titulo">
                <h1>Favoritas <img src="./../../../assets/img/star.png"></h1>
            </div>
            <div class="container-monedas">
                <div *ngFor="let monedafavorita of MonedasFavoritas" class="moneda">
                    <app-card-coin [moneda]="monedafavorita" (click)="dialogDeleteFav.showModal()"></app-card-coin>
                    <dialog class="dialogchico" #dialogDeleteFav>
                        <app-delete-fav [moneda]="monedafavorita" (cerrar)="dialogDeleteFav.close()"></app-delete-fav>
                    </dialog>
                </div>
                <p class="mensajeMonedas" *ngIf="MonedasFavoritas.length === 0">¡Añade tus monedas favoritas!</p>

            </div>
        </div>
        <div class="categoria">
            <div class="titulo">
                <h1>Mis Monedas</h1>
                <button (click)="dialogCreateCoin.showModal()">Crear +</button>
                    
                <dialog #dialogCreateCoin>
                    <app-create-coin (cerrar)="dialogCreateCoin.close()"></app-create-coin>
                </dialog>
            </div>
            <div class="container-monedas">
                <div *ngFor="let monedausuario of MonedasUsuario" class="moneda">
                    <app-card-coin [moneda]="monedausuario" [routerLink]="[monedausuario.id]"></app-card-coin>
                </div>
                <p class="mensajeMonedas" *ngIf="MonedasUsuario.length === 0">¡Crea tus propias <br> monedas!</p>
            </div>
        </div>
    </div>
</div>