<div class="container">
    <div class="container-general">
        <div class="categoria">
            <div class="titulo">
                <h1>Favoritas <img src="./../../../assets/img/star.png"></h1>
            </div>
            <div class="container-monedas">
                <div *ngFor="let monedafavorita of MonedasFavoritas" class="moneda">
                    <app-card-coin [moneda]="monedafavorita"></app-card-coin>
                </div>
            </div>
        </div>
        <div class="categoria">
            <div class="titulo">
                <h1>Mis Monedas</h1>
                <button (click)="dialogCreateCoin.showModal()">Crear +</button>
                    
                <dialog #dialogCreateCoin>
                    <app-create-coin (cerrar)="dialogCreateCoin.close()"></app-create-coin>
                </dialog>
            </div>
            <div class="container-monedas">
                <div *ngFor="let monedausuario of MonedasUsuario" class="moneda">
                    <app-card-coin [moneda]="monedausuario" [routerLink]="[monedausuario.id]"></app-card-coin>
                </div>
            </div>
        </div>
        <div class="categoria">
            <div class="titulo">
                <h1>Por Defecto</h1>
            </div>
            <div class="container-monedas">
                <div *ngFor="let monedadefault of MonedasDefault" class="moneda">
                    <app-card-coin [moneda]="monedadefault"></app-card-coin>
                </div>
            </div>
        </div>
    </div>
</div>