@use './../../../assets/styles/variables.scss';

.card-coin {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    place-items: center;
    border: 2px solid white;
    border-radius: 10px;
    background: variables.$input-coin-color;

    p {
        color: white;
        margin: 0;
        font-size: 20px;
    }

    span {
        color: white;
        font-size: 25px;
    }
}