<div class="container">
    <header>
        <img id="header" src="./../../../assets/img/littleHeader.png">
    </header>
    <div class="container-general">
        <div class="subs">
            <button id="button-sub" [routerLink]="['/subs']" routerLinkActive="router-link-active">
                <img src="./../../../assets/img/star.png">
                <p>Suscripción {{MostrarSub}}</p>
            </button>
            <p>Conversiones disponibles: {{MostrarConversiones}}</p>
        </div>
        <div class="converter">
            <button id="verMonedas" [routerLink]="['/coins']" routerLink="router-link-active">
                <p>Ver Monedas</p>
            </button>
            <div class="input">
                <input type="number" autocomplete="off" [value]="inputValue" (input)="updateValue($event)">
                <p>|</p>
                <div class="dropdown" [class.open]="isDropdownOpen1" (click)="toggleDropdown1()">
                    <div class="dropdown-toggle">
                        {{ selectedOption1 }}
                        <span class="arrow" [class.open]="isDropdownOpen1">&#9660;</span>
                    </div>
                    <ul class="dropdown-menu">
                        <p *ngIf="MonedasFavoritas.length !== 0" class="titulo-moneda">Favoritas <img src="./../../../assets/img/star.png"></p>
                        <li *ngFor="let monedafavorita of MonedasFavoritas" (click)="selectOption1(monedafavorita)"><img src="./../../../assets/img/star.png">{{ monedafavorita.simbolo }}</li>
                        <p *ngIf="MonedasUsuario.length !== 0" class="titulo-moneda">Mis Monedas</p>
                        <li *ngFor="let monedausuario of MonedasUsuario" (click)="selectOption1(monedausuario)">{{ monedausuario.simbolo }}</li>
                        <p class="titulo-moneda">Monedas Default</p>
                        <li *ngFor="let monedadefalut of MonedasDefault" (click)="selectOption1(monedadefalut)">{{ monedadefalut.simbolo }}</li>
                    </ul>
                </div>
            </div>
            <div class="input">
                <div id="space"></div>
                <div class="dropdown2" [class.open]="isDropdownOpen2" (click)="toggleDropdown2()">
                    <div class="dropdown-toggle">
                        {{ selectedOption2 }}
                        <span class="arrow" [class.open]="isDropdownOpen2">&#9660;</span>
                    </div>
                    <ul class="dropdown-menu">
                        <p *ngIf="MonedasFavoritas.length !== 0" class="titulo-moneda">Favoritas <img src="./../../../assets/img/star.png"></p>
                        <li *ngFor="let monedafavorita of MonedasFavoritas" (click)="selectOption2(monedafavorita)"><img src="./../../../assets/img/star.png">{{ monedafavorita.simbolo }}</li>
                        <p *ngIf="MonedasUsuario.length !== 0" class="titulo-moneda">Mis Monedas</p>
                        <li *ngFor="let monedausuario of MonedasUsuario" (click)="selectOption2(monedausuario)">{{ monedausuario.simbolo }}</li>
                        <p class="titulo-moneda">Monedas Default</p>
                        <li *ngFor="let monedadefalut of MonedasDefault" (click)="selectOption2(monedadefalut)">{{ monedadefalut.simbolo }}</li>
                    </ul>
                </div>
            </div>
            <button id="convertir" [disabled]="ICfromConvert === 0 || ICtoConvert === 0" (click)="Convertir(inputValue, ICfromConvert, ICtoConvert)">
                <p>Convertir</p><img src="./../../../assets/img/converser.png">
            </button>
        </div>
        <div class="resultado">
            <p id="primeralinea">{{inputValue}} {{ selectedOption1 }} equivale a</p>
            <p id="segundalinea">{{resultado}} {{ selectedOption2 }}</p>
        </div>
    </div>
    <footer>
        <img id="footer" src="./../../../assets/img/littleFooter.png">
    </footer>
</div>