<form #form="ngForm" (ngSubmit)="onSubmit()">
    <h1>Crear Moneda</h1>
    <div class="formulario">
            <input type="text" placeholder="Leyenda" [(ngModel)]="moneda.leyenda" name="leyenda">

            <input type="text" placeholder="Símbolo" [(ngModel)]="moneda.simbolo" name="simbolo">
        
            <input type="text" placeholder="Índice de Convertibilidad" [(ngModel)]="moneda.ic" name="ic">
    </div>
    <div class="options">
        <button id="crear" type="submit">Crear +</button>
        <button id="cancelar" type="button" (click)="cerrar.emit()">Cancelar</button>
    </div>
</form>