<div class="container">
    <div id="padding">

        <div id="container-favorita">
            <button id="favorita" [disabled]="monedafav.id != 0" (click)='createFav()'>Favorita <img src="./../../../assets/img/star.png"></button>
        </div>
        <div class="moneda">
            <h1>{{moneda.leyenda}}</h1>
            <div  class="container-moneda">
                <app-card-coin [moneda]="moneda"></app-card-coin>
            </div>
        </div>
        <div class="linea"></div>
        <div class="editarmoneda">
            <h2>Editar <img src="./../../../assets/img/editLapiz.png"></h2>
            <form #form="ngForm" (ngSubmit)="editCoin()">
                <div class="formulario">
                        <input type="text" autocomplete="off" placeholder="Leyenda" value="moneda.Leyenda" [(ngModel)]="editMoneda.leyenda" name="leyenda">
            
                        <input type="text" autocomplete="off" placeholder="Símbolo" value="moneda.simbolo" [(ngModel)]="editMoneda.simbolo" name="simbolo">
                    
                        <input type="number" autocomplete="off" placeholder="Índice de Convertibilidad" value="moneda.simbolo" [(ngModel)]="editMoneda.ic" name="ic">
                </div>
                <div class="options">
                    <button id="confirmar" type="submit" [disabled]="(editMoneda.leyenda.length == 0 || editMoneda.simbolo.length == 0 || editMoneda.ic <= 0)">Confirmar</button>
                </div>
            </form>
        </div>
        <div class="linea"></div>
        <div class="eliminar">
            <button id="eliminar" (click)="deleteCoin()">Eliminar Moneda</button>
        </div>
    </div>
</div>