// PALETA DE COLORES

//background Color

$color-background: #2D3033; 

//header&footer Colors

$head-foot-dark: #324E67;

$head-foot-light: #6E95B9;

//Details

$input-coin-color: linear-gradient(90deg, rgb(47, 48, 49) 2%, rgb(70, 72, 75) 46%, rgb(57, 60, 64) 88%);

$button-color: #475BC5;

$button-color-active: #33428a;

$cancel-button-color: #9C2020;

$subs-color: linear-gradient(90deg, rgb(22, 36, 103) 3%, rgb(59, 70, 131) 28%, rgba(28,43,121,1) 55%, rgb(13, 25, 70) 84%);

$star-color: #DAF247;

$inputs: #9B9B9B;